<%- include('./layouts/header.ejs') %>
<h1 class="title">Role Based Access Control</h1>
<div class="tutorial-info">
  <ol class="tutorial-info">
    <li>Nodejs</li>
    <li>ExpressJs</li>
    <li>Auth0</li>
    <li>Login, Register</li>
    <li>Flash Messages</li>
  </ol>
</div>
<%- include('./layouts/footer.ejs') %>
